body {
    font-family: 'Times New Roman', Times, serif;
   
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    background:beige;
    display: inline-flex;
    height: 300px;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 50px;
    margin-right: 20%;
        
}

.right-links a{
    text-decoration: none;
    color: green;
}

.header-line {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.headerbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;


}
.headertext {
    display: flex;
    align-self: flex-start;
    margin-left: 20%;
    flex-wrap: wrap;
    max-width: 500px;
    padding-bottom: 10px;
      
}

.logo {
    display: flex;
    margin-left: 20%;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    
}

.signup{
    display: flex;
    align-self: flex-start;
    margin-left: 20%;
    background: pink;
    color: black;
    border-radius: 5px;
    padding: 5px 35px;
    
}
.headertext-main {
    display: flex;
    align-self: flex-start;
    margin-left: 20%;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
}
img {
    height: auto;
    width: 300px;
    display: flex;   
 
}

.container-text {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 10px;
    font-size: 30px;
    font-weight: bold; 
}

.container {
    display: flex;
    height: 300px;
    background-color: burlywood;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
   
    

    
}

.big-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 50px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    
    

    
}

.square {
    display: flex;  
    height: 100px;
    border: 4px solid blueviolet;
    border-radius: 10px;
       
}


.inspiring-quote {
    height: 350px;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.the-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    font-size: 36px;
    font-style:italic;
}
.name-sign {
    display: flex;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 10px;
    font-size: 36px;
}

.color-box {
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-bar {
    height: 150px;
    background-color: teal;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    border: solid black 3px;
    border-radius: 10px;
    
   
    
}

.left-side {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
    color: white;
}
.boldpara {
    font-size: 20px;
    font-weight: bold;


}
.signupbutton {
    height: 30px;
    width: 100px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px; 
    color: white;
}
.footer {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-size: 20px;
  }

.square-text {
    margin-top: 10px;
    font-size: 15px;
    word-wrap: break-word;
}